.App {
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.host-btn {
  font-size: 30px;
  background: transparent;
  border: 2px solid #fd2d48;
}

.player-btn {
  font-size: 30px;
  background: transparent;
  border: 2px solid #0ec585;
}

.scoreboard-btn {
  position: fixed;
  bottom: 20px;
  font-size: 15px;
  background: transparent;
  border: 2px solid grey;
}

.or {
  font-size: 20px;
  font-weight: bold;
  color: gray;
  margin: 10px;
}

.host {
  max-width: 500px;
  margin: auto;
}

.scores {
  padding: 20px;
}

.teams-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.score {
  margin: 0 30px;
}

.buzz-order-container {
  padding-right: 20px;
  padding-left: 20px;
}

.buzz-order-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.buzz-order {
  font-size: 20px;
  text-align: left;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.buzz-btn-row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 20px;
}

.correct {
  font-size: 30px;
  background-color: #0ec585;
}

.incorrect {
  font-size: 30px;
  background-color: #fd2d48;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.team-name {
  font-weight: bold;
  font-size: 30px;
  margin: 20px;
}

.buzzer {
  background-color: #fd2d48;
  font-size: 50px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  padding: 0;
}

.scoreboard-med {
  font-size: 30px;
}

.scoreboard-order {
  font-size: 40px;
}

.scoreboard-large {
  font-size: 50px;
}
