body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0f111d;
  color: white;
  font-family: 'Oswald', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
  border: 1px solid gray;
  padding: 10px;
  font-size: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
}

button {
  box-sizing: border-box;
  background-color: #0ec585;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.btn-alt {
  background: transparent;
  border: 2px solid #fd2d48;
}

.icon-btn {
  padding: 0px 12px;
  background: transparent;
  border: 2px solid #0ec585;
}